form {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 0 2rem;
}

input {
  width: 10rem;
}

li {
  list-style: none;
}

.validation-error {
  color: brown;
  font-size: 0.8rem;
  padding: 0
}
