<form (ngSubmit)="submit()" [formGroup]="taskForm" #formDir="ngForm"> <!-- ngSubmit envia os dados | #formDir envia para o front-->
  <div>
    <input type="text" name="item"  placeholder="Digite aqui sua tarefa" formControlName="title" required maxlength="30"/>
    <button type="submit"> <fa-icon [icon]="faPlusCircle" class="btn-xl" ></fa-icon></button>
  </div>
  <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
    <p *ngIf="title.errors?.['required']">O nome da tarefa é obrigatório!</p>
  </div>
</form>

