form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 0 0 2rem;
  width: 100%;
}

form div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

input[type="text"] {
  all: unset;
  border: none;
  border-bottom: 1px solid #1A3C40;
  background-color: transparent;
  margin-right: 0.5rem;
  width: 80%;
}

input[type="text"] {
  box-shadow: none;
}

.validation-error {
  color: brown;
  font-size: 0.8rem;
  padding: 0
}
