@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');


body {
    align-items: center;
    background-color: #1A3C40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Anaheim', sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

button {
    all: unset;
    color: #1A3C40;
}

.btn-xl {
    font-size: 1.5rem;
}

.btn-s {
    font-size: 1rem;
    margin-left: 2rem;
}

